<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/adminPageStyles.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="https:/  /maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h1>Victim List</h1>
                    </div>
                    <div class="gaadiex-list">
                        <!-- <div class="gaadiex-list-item"><img class="gaadiex-list-item-img" src="http://www.free-icons-download.net/images/commercial-male-user-icon-32765.png" alt="List user">
                            <div class="gaadiex-list-item-text">
                                <h3><a href="#">Eric Graves</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            </div>
                            <div class="gaadiex-list-item"><img class="gaadiex-list-item-img" src="http://www.free-icons-download.net/images/commercial-male-user-icon-32765.png" alt="List user">
                            <div class="gaadiex-list-item-text">
                                <h3><a href="#">Catherine Crawford</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            </div>
                            <div class="gaadiex-list-item"><img class="gaadiex-list-item-img" src="http://www.free-icons-download.net/images/commercial-male-user-icon-32765.png" alt="List user">
                            <div class="gaadiex-list-item-text">
                                <h3><a href="#">Rosemary Jimenez</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            </div> -->
                        <!-- <div class="gaadiex-list-item"><img class="gaadiex-list-item-img" src="http://www.free-icons-download.net/images/commercial-male-user-icon-32765.png" alt="List user">
                            <div class="gaadiex-list-item-text">
                                <h3><a href="#">Guy Carpenter</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            </div> -->

                        <% if(victims.length===0){%>
                        <h3>no child to be rescued</h3>
                        <%} else{%> <%victims.forEach((victim)=>{%>
                        <div class="gaadiex-list-item">
                            <img class="gaadiex-list-item-img"
                                src="<%=victim.image.toString().substring(6,victim.image.toString().length)%>" />
                            <div class="gaadiex-list-item-text">
                                <h3>
                                    <a
                                        href="http://<%=address%>:8000/displaycrimemap/<%=victim.lat%>/<%=victim.lng%>/<%=victim.ccid%>"><%=victim.date.toString().substring(0,15)%>,
                                        <%=victim.time%></a>
                                </h3>
                                <div class="container-fluid">
                                    <%console.log(victim.image.toString().substring(6,victim.image.toString().length))%>
                                    <h4>Sex: <%=victim.sex%></h4>
                                    <h4>Age: <%=victim.age%></h4>
                                    <h4>PwdStat: <%=victim.pwdstat%></h4>
                                    <h4>Activity: <%=victim.activity%></h4>
                                    <h4>
                                        Description: <%=victim.description%>
                                    </h4>

                                    <form action="/rescuedChildcc/<%=victim.ccid%>/<%=victim.id%>" method="post">
                                        <input type="submit" name="rescued" value="rescued" />
                                    </form>
                                </div>
                            </div>
                        </div>
                        <%})%> <%}%>
                        </div>
                        <div class="gaadiex-list-item">
                            <form
                                action="/rescuedbymecc/<%=ccid%>"
                        method="get"
                        >
                        <input type="submit" name="Rescued by Me" value="Rescued by Me" class="btn btn-primary" />
                        </form>
                        <form action="/rescuedbymeccmap/<%=ccid%>" method="get">
                            <input type="submit" name="View all rescued by me on map" value="Rescued by Me map"
                                class="btn btn-primary" />
                        </form>
                    </div>
                    <div class="gaadiex-list-item">
                        <form action="/rescuedmalecc/<%=ccid%>" method="get">
                            <input type="submit" name="Display rescued males" value="Display rescued males"
                                class="btn btn-primary" />
                        </form>
                        <form action="/rescuedmaleccmap/<%=ccid%>" action="get">
                            <input type="submit" name="View all male victims rescued by me"
                                value="Display rescued males map" class="btn btn-primary" />
                        </form>
                    </div>
                    <div class="gaadiex-list-item">
                        <form action="/rescuedfemalecc/<%=ccid%>" method="get">
                            <input type="submit" name="Display rescued females" value="Display rescued females"
                                class="btn btn-primary" />
                        </form>
                        <form action="/rescuedfemaleccmap/<%=ccid%>" action="get">
                            <input type="submit" name="View all female victims rescued by me"
                                value="Display rescued females map" class="btn btn-primary" />
                        </form>
                    </div>
                    <div class="gaadiex-list-item">
                        <form action="/rescuedpwdcc/<%=ccid%>" method="get">
                            <input type="submit" name="Display person with disability"
                                value="Display person with disability" class="btn btn-primary" />
                        </form>
                        <form action="/rescuedpwdccmap/<%=ccid%>" action="get">
                            <input type="submit" name="View all pwd victims rescued by me"
                                value="Display person with disability map" class="btn btn-primary" />
                        </form>
                    </div>
                    <div class="gaadiex-list-item">
                        <form action="/rescuedlt5cc/<%=ccid%>" method="get">
                            <input type="submit" name="Age less than equal to 5" value="Age less than equal to 5"
                                class="btn btn-primary" />
                        </form>
                    </div>
                    <div class="gaadiex-list-item">
                        <form action="/rescuedlt10cc/<%=ccid%>" method="get">
                            <input type="submit" name="Age between 5 and 10" value="Age between 5 and 10"
                                class="btn btn-primary" />
                        </form>
                    </div>
                    <div class="gaadiex-list-item">
                        <form action="/rescuedlt15cc/<%=ccid%>" method="get">
                            <input type="submit" name="Age greater than equal to 15"
                                value="Age greater than equal to 15" class="btn btn-primary" />
                        </form>
                    </div>
                    <div>
                        <form action="/rescuedfemaleccmap/<%=ccid%>" action="get">
                            <input type="submit" name="View all female victims rescued by me"
                                value="Display rescued females map" class="btn btn-primary" />
                        </form>
                    </div>
                    <div class="gaadiex-list-item">
                        <form action="/rescuedlt5ccmap/<%=ccid%>" method="get">
                            <input type="submit" name="Age greater than equal to 15"
                                value="Age greater than equal to 5 map" class="btn btn-primary" />
                        </form>
                    </div>
                    <div class="gaadiex-list-item">
                        <form action="/rescuedlt10ccmap/<%=ccid%>" method="get">
                            <input type="submit" name="Age greater than equal to 10"
                                value="Age greater than equal to 10 map" class="btn btn-primary" />
                        </form>
                    </div>
                    <div class="gaadiex-list-item">
                        <form action="/rescuedlt15ccmap/<%=ccid%>" method="get">
                            <input type="submit" name="Age greater than equal to 15"
                                value="Age greater than equal to 15 map" class="btn btn-primary" />
                        </form>
                    </div>
                    <div class="gaadiex-list-item">
                        <form action="/myvicccmap/<%=ccid%>" method="get">
                            <input type="submit" name="View all reported to me"
                                value="Reported to me map" class="btn btn-primary" />
                        </form>
                    </div>
                    <div>
                        <div class="gaadiex-list-item">
                            <form action="/vicmaleccmap/<%=ccid%>" method="get">
                                <input type="submit" name="Display male victims"
                                    value="Display male victims map" class="btn btn-primary" />
                            </form>
                        </div>
                        <div>
                            <div class="gaadiex-list-item">
                                <form action="/vicfemaleccmap/<%=ccid%>" method="get">
                                    <input type="submit" name="Display female victims"
                                        value="Display female victims map" class="btn btn-primary" />
                                </form>
                            </div>
                            <div>
                                <div class="gaadiex-list-item">
                                    <form action="/vicpwdccmap/<%=ccid%>" method="get">
                                        <input type="submit" name="Display PWD victims"
                                            value="Display PWD victims map" class="btn btn-primary" />
                                    </form>
                                </div>
                                <div>
                                    <div class="gaadiex-list-item">
                                        <form action="/viclt5ccmap/<%=ccid%>" method="get">
                                            <input type="submit" name="Display victims with age less than equal to 5"
                                                value="Display victims with age less than equal to 5 map" class="btn btn-primary" />
                                        </form>
                                    </div>
                                    <div>
                                        <div class="gaadiex-list-item">
                                            <form action="/viclt10ccmap/<%=ccid%>" method="get">
                                                <input type="submit" name="Display victims with age less than equal to 10"
                                                    value="Display victims with age less than equal to 10 map" class="btn btn-primary" />
                                            </form>
                                        </div>
                                        <div>
                                            <div class="gaadiex-list-item">
                                                <form action="/viclt15ccmap/<%=ccid%>" method="get">
                                                    <input type="submit" name="Display victims with age less than equal to 15"
                                                        value="Display victims with age less than equal to 15 map" class="btn btn-primary" />
                                                </form>
                                            </div>
                                            <div>

                                                <div>
                                                    <label for="count">Count of all victims matched:
                                                        <span class="badge"><%=victims.length%></span></label><br />
                                                    <label for="count">Count of all male victims:<span class="badge">
                                                            <%=male%></span></label><br />
                                                    <label for="count">Count of all female victims:<span class="badge">
                                                            <%=female%></span></label><br />
                                                    <label for="count">Count of all PWD:
                                                        <span class="badge"><%=disabled%></span></label>
                                                </div>

                                            </div>
                                        </div>
                                        <div></div>
                                    </div>
                                    <!-- <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Icons with text items</h4>
                        </div>
                            <div class="gaadiex-list">
                            <div class="gaadiex-list-item border-b-1">
                                <i class="fa fa-user"></i>
                            <div class="gaadiex-list-item-text">
                                <h3><a href="#">Eric Graves</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            </div>
                                                <div class="gaadiex-list-item border-b-1">
                                <i class="fa fa-user"></i>
                            <div class="gaadiex-list-item-text">
                                <h3><a href="#">Eric Graves</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            </div>
                                                <div class="gaadiex-list-item border-b-1">
                                <i class="fa fa-user"></i>
                            <div class="gaadiex-list-item-text">
                                <h3><a href="#">Eric Graves</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            </div>
                                                <div class="gaadiex-list-item border-b-1">
                                <i class="fa fa-user"></i>
                            <div class="gaadiex-list-item-text">
                                <h3><a href="#">Eric Graves</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            </div>



                            </div>

                    </div>
                </div>
            </div> -->
                                    <!-- <div class="row">
                <div class="col-md-6">
                    <div class="card">
                    <div class="card-header">
                            <h4>Plain text items</h4>
                        </div>
                        <div class="gaadiex-list">
                            <div class="gaadiex-list-item">
                                <h3><a href="#">Eric Graves</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            <div class="gaadiex-list-item">
                                <h3><a href="#">Eric Graves</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            <div class="gaadiex-list-item">
                                <h3><a href="#">Eric Graves</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            <div class="gaadiex-list-item">
                                <h3><a href="#">Eric Graves</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div> -->
                                    <!-- </div> -->
                                    <!--[if lt IE 7]>
            <p class="browsehappy">
                You are using an <strong>outdated</strong> browser. Please
                <a href="#">upgrade your browser</a> to improve your experience.
            </p>
        <![endif]-->

                                    <script src="" async defer></script>
</body>

</html>