<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
    <!--<![endif]-->

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title></title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/adminPageStyles.css" />
        <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
            rel="stylesheet"
            id="bootstrap-css"
        />
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <link
            href="https:/  /maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
            rel="stylesheet"
            integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h1>Victim List</h1>
                        </div>
                        <div class="gaadiex-list">
                            <!-- <div class="gaadiex-list-item"><img class="gaadiex-list-item-img" src="http://www.free-icons-download.net/images/commercial-male-user-icon-32765.png" alt="List user">
                            <div class="gaadiex-list-item-text">
                                <h3><a href="#">Eric Graves</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            </div>
                            <div class="gaadiex-list-item"><img class="gaadiex-list-item-img" src="http://www.free-icons-download.net/images/commercial-male-user-icon-32765.png" alt="List user">
                            <div class="gaadiex-list-item-text">
                                <h3><a href="#">Catherine Crawford</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            </div>
                            <div class="gaadiex-list-item"><img class="gaadiex-list-item-img" src="http://www.free-icons-download.net/images/commercial-male-user-icon-32765.png" alt="List user">
                            <div class="gaadiex-list-item-text">
                                <h3><a href="#">Rosemary Jimenez</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            </div> -->
                            <!-- <div class="gaadiex-list-item"><img class="gaadiex-list-item-img" src="http://www.free-icons-download.net/images/commercial-male-user-icon-32765.png" alt="List user">
                            <div class="gaadiex-list-item-text">
                                <h3><a href="#">Guy Carpenter</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            </div> -->

                            <% if(victims.length===0){%>
                            <h3>no child to be rescued</h3>
                            <%} else{%> <%victims.forEach((victim)=>{%>
                            <div class="gaadiex-list-item">
                                <img
                                    class="gaadiex-list-item-img"
                                    src="<%=victim.image.toString().substring(6,victim.image.toString().length)%>"
                                />
                                <div class="gaadiex-list-item-text">
                                    <h3>
                                        <a
                                            href="http://<%=address%>:8000/displaycrimemap/<%=victim.lat%>/<%=victim.lng%>/<%=victim.oid%>"
                                            ><%=victim.date.toString().substring(0,15)%>,
                                            <%=victim.time%></a
                                        >
                                    </h3>
                                    <div class="container-fluid">
                                        <%console.log(victim.image.toString().substring(6,victim.image.toString().length))%>
                                        <h4>Sex: <%=victim.sex%></h4>
                                        <h4>Age: <%=victim.age%></h4>
                                        <h4>PwdStat: <%=victim.pwdstat%></h4>
                                        <h4>Activity: <%=victim.activity%></h4>
                                        <h4>
                                            Description: <%=victim.description%>
                                        </h4>

                                        <form
                                            action="/rescuedChildo/<%=victim.oid%>/<%=victim.id%>"
                                            method="post"
                                        >
                                            <input
                                                type="submit"
                                                name="rescued"
                                                value="rescued"
                                            />
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <%})%> <%}%>
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="gaadiex-list-item">
                <form action="/rescuedbymeo/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Rescued by Me"
                        value="Rescued by Me"
                        class="btn btn-primary"
                    />
                </form>
                <form action="/rescuedbymeomap/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Rescued by Me Map"
                        value="Rescued by Me Map"
                        class="btn btn-primary"
                    />
                </form>
            </div>
            <div class="gaadiex-list-item">
                <form action="/rescuedmaleo/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Display rescued males"
                        value="Display rescued males"
                        class="btn btn-primary"
                    />
                </form>
                <form action="/rescuedmaleomap/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Display rescued males Map"
                        value="Display rescued males Map"
                        class="btn btn-primary"
                    />
                </form>
            </div>
            <div class="gaadiex-list-item">
                <form action="/rescuedfemaleo/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Display rescued females"
                        value="Display rescued females"
                        class="btn btn-primary"
                    />
                </form>
                <form action="/rescuedfemaleomap/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Display rescued females Map"
                        value="Display rescued females Map"
                        class="btn btn-primary"
                    />
                </form>
            </div>
            <div class="gaadiex-list-item">
                <form action="/rescuedpwdo/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Display person with disability"
                        value="Display person with disability"
                        class="btn btn-primary"
                    />
                </form>
                <form action="/rescuedpwdomap/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Display person with disability Map"
                        value="Display person with disability Map"
                        class="btn btn-primary"
                    />
                </form>
            </div>
            <div class="gaadiex-list-item">
                <form action="/rescuedlt5o/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Age less than equal to 5"
                        value="Age less than equal to 5"
                        class="btn btn-primary"
                    />
                </form>
            </div>
            <div class="gaadiex-list-item">
                <form action="/rescuedlt10o/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Age between 5 and 10"
                        value="Age between 5 and 10"
                        class="btn btn-primary"
                    />
                </form>
            </div>
            <div class="gaadiex-list-item">
                <form action="/rescuedlt15o/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Age less than equal to 15"
                        value="Age less than equal to 15"
                        class="btn btn-primary"
                    />
                </form>
                <form action="/rescuedlt5omap/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Display person with disability Map"
                        value="Age less than equal to 5 map"
                        class="btn btn-primary"
                    />
                </form>
                <form action="/rescuedlt10omap/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Display person with disability Map"
                        value="Age between 10 and 15 map"
                        class="btn btn-primary"
                    />
                </form>
                <form action="/rescuedlt15omap/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Display person with disability Map"
                        value="Age greater than equal to 15 map"
                        class="btn btn-primary"
                    />
                </form>
            </div>
            <div class="gaadiex-list-item">
                <form action="/myvicomap/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Victims to be rescued"
                        value="Victims to be rescued"
                        class="btn btn-primary"
                    />
                </form>
            </div>
            <div class="gaadiex-list-item">
                <form action="/vicmaleomap/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Male victims to be rescued"
                        value="Male victims to be rescued"
                        class="btn btn-primary"
                    />
                </form>
            </div>
            <div class="gaadiex-list-item">
                <form action="/vicfemaleomap/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Female victims to be rescued"
                        value="Female victims to be rescued"
                        class="btn btn-primary"
                    />
                </form>
            </div>
            <div class="gaadiex-list-item">
                <form action="/vicpwdomap/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Victims with disability to be rescued"
                        value="Victims with disability to be rescued"
                        class="btn btn-primary"
                    />
                </form>
            </div>
            <div class="gaadiex-list-item">
                <form action="/viclt5omap/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Victims with age less than 5 to be rescued"
                        value="Victims with age less than 5 to be rescued"
                        class="btn btn-primary"
                    />
                </form>
            </div>
            <div class="gaadiex-list-item">
                <form action="/viclt10omap/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Victims with age less than 10 to be rescued"
                        value="Victims with age less than 10 to be rescued"
                        class="btn btn-primary"
                    />
                </form>
            </div>
            <div class="gaadiex-list-item">
                <form action="/viclt15omap/<%=oid%>" method="get">
                    <input
                        type="submit"
                        name="Victims with age less than 15 to be rescued"
                        value="Victims with age less than 15 to be rescued"
                        class="btn btn-primary"
                    />
                </form>
            </div>
            <div>
                <label for="count"
                    >Count of all victims matched:
                    <span class="badge"><%=victims.length%></span></label
                ><br />
                <label for="count"
                    >Count of all male victims:<span class="badge">
                        <%=male%></span
                    ></label
                ><br />
                <label for="count"
                    >Count of all female victims:<span class="badge">
                        <%=female%></span
                    ></label
                ><br />
                <label for="count"
                    >Count of all PWD:
                    <span class="badge"><%=disabled%></span></label
                >
            </div>
        </div>

        <!-- <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Icons with text items</h4>
                        </div>
                            <div class="gaadiex-list">
                            <div class="gaadiex-list-item border-b-1">
                                <i class="fa fa-user"></i>
                            <div class="gaadiex-list-item-text">
                                <h3><a href="#">Eric Graves</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            </div>
                                                <div class="gaadiex-list-item border-b-1">
                                <i class="fa fa-user"></i>
                            <div class="gaadiex-list-item-text">
                                <h3><a href="#">Eric Graves</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            </div>
                                                <div class="gaadiex-list-item border-b-1">
                                <i class="fa fa-user"></i>
                            <div class="gaadiex-list-item-text">
                                <h3><a href="#">Eric Graves</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            </div>
                                                <div class="gaadiex-list-item border-b-1">
                                <i class="fa fa-user"></i>
                            <div class="gaadiex-list-item-text">
                                <h3><a href="#">Eric Graves</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            </div>



                            </div>

                    </div>
                </div>
            </div> -->
        <!-- <div class="row">
                <div class="col-md-6">
                    <div class="card">
                    <div class="card-header">
                            <h4>Plain text items</h4>
                        </div>
                        <div class="gaadiex-list">
                            <div class="gaadiex-list-item">
                                <h3><a href="#">Eric Graves</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            <div class="gaadiex-list-item">
                                <h3><a href="#">Eric Graves</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            <div class="gaadiex-list-item">
                                <h3><a href="#">Eric Graves</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>
                            <div class="gaadiex-list-item">
                                <h3><a href="#">Eric Graves</a></h3>
                                <h4>Brunch this weekend?</h4>
                                <p> I'll be in your neighborhood doing errands</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div> -->

        <!--[if lt IE 7]>
            <p class="browsehappy">
                You are using an <strong>outdated</strong> browser. Please
                <a href="#">upgrade your browser</a> to improve your experience.
            </p>
        <![endif]-->

        <script src="" async defer></script>
    </body>
</html>
